{% extends "layout.html" %}

{% block json_function %}
{{super()}}
function init() {

};


function create_diary(){
    console.log('create_diary');
    title = $('#id_diary_title').val();

temp_query('/query/{{name}}/create_diary', {title: title
      }, function(response) {
        console.log("confirm ok",response.url);
        //$('#id_contents').html(response.table_html);

        window.open("about:blank").location.href =response.url

 })
    //location.href = '/{{name}}.neo?type=search&keyword='+keyword

}

 {% endblock%}

 {% block main_lable %}
    <div class="jumbotron">


	      <div class="w3-container">
		   <form class="w3-container" id="search" name="search">

		    </form>

		      <div class="btn-group_">
				     <h4>제목</h4>
			      <input class="w3-input w3-border" type="text" id="id_diary_title" name="diary_title"  placeholder="TODAY TITLE">
			      <button class="w3-btn w3-block w3-teal" name ="type"  value="search" onclick="create_diary()">&#10004; 생성</button>
			</div>

	      </div>


    </div>

    {% endblock%}

{% block pagination%}
 {% endblock%}