{% extends "layout_with_list_form.html" %}


{% block list_contents %}
{%for table in list_tables%}

<div class="w3-container" id='{{table.id_div_list}}'>
<h2>{{table.title}}</h2>
<table class="table table-striped">

		 {% for item in table.list_data %}
		<tr>
			<td>
		<button class="w3-btn w3-ripple " data-toggle="modal" data-target="#{{table.modal_id}}"  onclick="edit_content('{{item.cur_uid}}')" >&#9998;</button>
		</td>
		<td>
			<a href="{{ item.link }}" target="_blank"> {{ item.title }} </a>
		</td>
		</tr>
		{% endfor %}

</table>

  </div>

</div>
{%endfor%}
{% endblock %}



