{% extends "layout.html" %}


{% block title %}Index{% endblock %}

{% block json_function %}
{{ super() }}

function update_order(){

temp_query('/query/{{name}}/update_custom', {
      }, function(response) {
        console.log("confirm ok",response);
        $('#id_contents').html(response.table_html);



 })

}
{% endblock %}

{%block json_on_load%}
window.setInterval('update_order()',5000);
update_order();
{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

{% endblock %}


{% block list_contents %}
<div id="id_contents"></div>
{% endblock %}




{% block form_contents %}
{% endblock %}

{% block hide_button %}
{% endblock%}
