{% extends "layout_with_list_form.html" %}

{% block json_function %}
{{super()}}
function update_webtoon_list(date="",option=""){

    temp_query('/query/{{name}}/update_custom', {
            date:date,
            option:option
          }, function(response) {
            console.log("confirm ok",response,response.cur_web_date,response.date);

            $('#table_contents').html(response.table_html);
            $(".list_week").each(function(index, item){
                $(item).removeClass("w3-black");
            })
            info = "";
            info += response.option

            response.dict_time
            info += "<br/>";
            console.log("response.dict_time", response.dict_time);
            for (var key in response.dict_time) {
                var value = response.dict_time[key];
                info += key + ":" +value.toFixed(2);
                 info += "<br/>";
                console.log(key, value);
            }
            console.log("info", info);
            $('#id_info').html(info);

            $('#id_date_'+response.date).addClass("w3-black");
            console.log();
            window.history.pushState('page2', 'Title', '/webtoon.neo');





     })
}

function toggle_info(){
    $('#id_info').toggle();
}
{% endblock %}

{% block json_on_load %}
{{super()}}


var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

console.log('{{date}}');

update_webtoon_list('{{date}}');
$('#id_info').hide();

{% endblock %}



{% block list_contents %}


<div class="w3-bar w3-gray">
    {%for btn_item in date_btn_info%}
      <a href="#"
         class="w3-bar-item w3-button list_week {{'w3-black' if btn_item.is_cur_date else ''}}"
         onclick="update_webtoon_list('{{btn_item.eng}}')"
         id="id_date_{{btn_item.eng}}">{{btn_item.name}}</a>
    {%endfor%}

      <a href="#"
         class="w3-bar-item w3-button list_week"
         onclick="update_webtoon_list('all')"
         id="id_date_all">전체(연재중)</a>

    <a href="#"
         class="w3-bar-item w3-button list_week"
         onclick="update_webtoon_list('org')"
         id="id_date_org">전체(완료포함)</a>

</div>

<a href="{{url_naver_date_webtoon}}" class="w3-button" target="_blank">네이버 웹툰 화면으로 가기</a>
<a href="javascript:void(0)" class="w3-button" onclick="toggle_info()">파싱정보보기</a>
 <a href="#"
         class="w3-bar-item w3-button list_week"
         onclick="update_webtoon_list('{{date}}','detail')"
         id="id_detail">오늘날짜 자세히 얻기</a>
<div id="id_info">

</div>
<div class="w3-container" id='table_contents'>
</div>

{% endblock %}



