{% extends "layout.html" %}


{% block title %}Index{% endblock %}


{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}


{% block jsonfunction %}
{{super()}}
function btn_new_input(){
	show_input_enable(true);
	 $('#div_input').show();
		$('#input_title').val("");
		$('#input_link').val("");
		$('#input_cur_uid').val("");



}
function edit_content(id){
	console.log('edit_content',id);

    temp_query('/query/{{name}}/get_content',{cur_uid:id},function(response){
        console.log("confirm ok",response);

		$('#input_title').val(response.title);
		$('#input_link').val(response.link);
		$('#input_cur_uid').val(id);

		$('#div_input').show();
        $('#div_input').show();
        $('#div_list').hide();
    })


}

{% endblock%}




{% block tobody %}
        <tbody>

{% for item in list_data %}

<tr >
  <th>
    <a href="{{ item.link }}" >&#9998; {{item.title }}</a>
  </th>
    <th>
          <button class="w3-btn w3-ripple" data-toggle="modal" data-target="#id_modal_input" onclick="edit_content('{{ item.fnk_uid }}')">&#9998; 편집</button>
        </th>
        <th>
          <button class="w3-btn w3-ripple" onclick="delete_content('{{ item.fnk_uid }}')">&#9998; 삭제</button>
        </th>

</tr>
{% endfor %}



     </tbody>
{% endblock %}


{% block form %}

<form ng-show="shwoContents" class="w3-container" id="div_input" name="div_input">
      <h2>{{contents_title}}</h2>


      <label>내용수정:
        <input type="checkbox" id="id_check_box">
      </label><br/>

	  <input name = "cur_uid"  id="input_cur_uid" type="text" hidden>

        <label>제목</label>
        <input class="w3-input w3-border neo_form" type="text" id="input_title" name="title"  placeholder="제목">
      <br>
        <label>링크</label>
        <TEXTAREA class="w3-input w3-border neo_form" id="input_link" name="link"  ROWS=2 COLS=100 placeholder="이슈"  tabindex='2'></TEXTAREA>
        <br>



      </form>
{% endblock %}
