<!doctype html>
<title>Hello from Flask %% title %%</title>
<% if name %>
  <h1>Hello %% name %%!</h1>
<% else %>
  <h1>Hello, World!</h1>
<% endif %>

<ul id="navigation">
<% for item in navigation %>
    <li><a href="%% item.href %%">%% item.caption %%</a></li>
<% endfor %>
</ul>


<table>
<% for item in items %>
<TR>
   <!--<TD class="c1"><IMG src="favicon.ico"></TD>-->
   <TD class="c2">%%item.date%%</TD>
   <TD class="c3">%%item.id%%</TD>
   <TD class="c4"><SPAN>%%item.position%%</SPAN></TD>
   <TD class="c5"><SPAN>%%item.status%%</SPAN></TD>
</TR>
<% endfor %>
</table>