{% extends "layout.html" %}


{% block title %}
{% endblock %}

{% block jsonfunction %}
{{super()}}
function btn_new_input(){
	show_input_enable(true);
    $('#div_input').show();
	$('#input_id').val("");
	$('#input_title').val("");

	$('#input_date').val("");
	$('#input_prt_uid').val("prt_1");
	$('#input_dates').val("");
	$('#input_cur_uid').val("");


	$('#sel_input_portal').text("네이년");



}
function edit_content(id){
	console.log('edit_content',id);

    temp_query('/query/{{name}}/get_content',{cur_uid:id},function(response){
        console.log("confirm ok");
       $('#input_id').val(response.id);
		$('#input_title').val(response.title);

		$('#input_date').val(response.date);
		$('#input_prt_uid').val(response.prt_uid);
		$('#input_dates').val(response.dates);
		$('#input_cur_uid').val(response.wtn_uid);


		$('#sel_input_portal').text(response.portal_name);
		console.log("prt_uid",response.prt_uid);
		//$('#input_portal').attr("prt_uid",response.prt_uid);
		//$('#input_portal').attr("prt_uid",sel_id);

		<!--$('#div_input').show();-->
        <!--$('#div_input').show();-->
        <!--$('#div_list').hide();-->
    })


}

{% endblock%}


{% block jsonsrc %}
{{super()}}

$('.select_date').click(function(event) {
	var sel_id = event.target.id;
	console.log('.select_date',sel_id,event.target.text);
	$('#input_date').val(event.target.text);
	$('#sel_input_date').text(event.target.text);

});
$('.select_portal').click(function(event) {
	var sel_id = event.target.id;
	console.log('.select_portal',sel_id,event.target.text);
	$('#input_prt_uid').val(sel_id);;

	$('#sel_input_portal').text(event.target.text);
	console.log('.select_portal',sel_id,event.target.text);
});



<!--$('.cls_edit').click(function(event) {-->

	<!--var wtn_uid = event.target.id;-->
    <!--$.ajax({-->
        <!--url: '/query/{{name}}/get_content',-->
        <!--data:{wtn_uid:wtn_uid},-->
        <!--type: 'POST',-->
        <!--dataType: "json",-->
        <!--success: function(response) {-->
            <!--if(response.result == "OK"){-->
               <!--// location.reload();-->
				<!--$('#input_id').val(response.id);-->
				<!--$('#input_title').val(response.title);-->

				<!--$('#input_date').val(response.date);-->
				<!--$('#input_prt_uid').val(response.prt_uid);-->
				<!--$('#input_dates').val(response.dates);-->
				<!--$('#input_wtn_uid').val(response.wtn_uid);-->


				<!--$('#sel_input_portal').text(response.portal_name);-->
				<!--console.log("prt_uid",response.prt_uid);-->
				<!--//$('#input_portal').attr("prt_uid",response.prt_uid);-->
				<!--//$('#input_portal').attr("prt_uid",sel_id);-->

				<!--$('#div_input').show();-->
	            <!--$('#div_input').show();-->
	            <!--$('#div_list').hide();-->
            <!--}-->
            <!--console.log(response);-->

        <!--},-->
        <!--error: function(error) {-->
            <!--console.log(error);-->
        <!--}-->
    <!--});-->
<!--});-->
{% endblock %}


{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}


{% block tobody %}
        <tbody>
{% for item in list_data %}
<tr >
  <th>
    <a href="{{ item.list_url }}" target="_blank" >&#9998; {{item.title }}</a>
  </th>
	<th>
    <a href="{{ item.detail_url }}" target="_blank">&#9998; {{item.today_title }}</a>
  </th>
<th>
  <button class="w3-btn w3-ripple cls_edit"  data-toggle="modal" data-target="#id_modal_input" onclick="edit_content('{{item.wtn_uid}}')">&#9998; 편집</button>
</th>

<th>
  <button class="w3-btn w3-ripple cls_del"  onclick="delete_content('{{item.wtn_uid}}')" >&#9998; 삭제</button>
</th>
</tr>
{% endfor %}

     </tbody>
{% endblock %}


{% block form_header %} <h3>웹툰 입력</h3> {% endblock %}

{% block form %}
  <form class="w3-container" id="form_input" name="form_input">


      <label>내용수정:
        <input type="checkbox" id="id_check_box">
      </label><br/>

      <label>웹툰아이디</label>
      <input class="w3-input w3-border neo_form form-control" name = "id" id = "input_id" type="text" placeholder="제목">
      <br>
      <label>웹툰이름</label>
      <input class="w3-input w3-border neo_form form-control" name = "title" id = "input_title" type="text" placeholder="제목">
      <!-- <input class="w3-input w3-border" type="text" ng-model="issue" ng-disabled="true" placeholder="이슈"> -->

      <br>


	  <input name = "prt_uid"  id="input_prt_uid" type="text" hidden>
	  <input name = "cur_uid"  id="input_cur_uid" type="text" hidden>

	  <label>요일</label>
        <input class="w3-input w3-border neo_form form-control" name = "dates" id = "input_dates" type="text" placeholder="제목">
		<!--<div class="dropdown">-->

		    <!--<button class="btn btn-default dropdown-toggle neo_form form-control" type="button" name ="sel_input_date" id="sel_input_date" data-toggle="dropdown">-->
		    <!--<span class="caret"></span>-->
		    <!--</button>-->


		    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
			    <!--{% for item in list_combo_name %}-->
			          <!--<li role="presentation"><a role="menuitem" class="select_date" tabindex="-1" href="#sel_input_date" id = "{{item.id}}">{{item.name}}</a></li>-->
				<!--{% endfor %}-->

		    <!--</ul>-->
	    <!--</div>-->


      <br>
     <label>포탈</label>

	  <div class="dropdown">
	    <button class="btn btn-default dropdown-toggle neo_form form-control" type="button" name ="sel_input_portal" id="sel_input_portal" data-toggle="dropdown" >
	    <span class="caret"></span>
	    </button>


	    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		    {% for item in list_portals %}
		          <li role="presentation"><a role="menuitem" class="select_portal" tabindex="-1" href="#sel_input_portal" id = "{{item.prt_uid}}">{{item.title}}</a></li>
			{% endfor %}

	    </ul>
	  </div>


      <!--<input class="w3-input w3-border"  id = "input_portal"  type="text" placeholder="제목">-->

      <br>





    </form>
{% endblock %}

