{% extends "layout_with_list_form.html" %}


{% block json_on_load %}
{{super()}}


var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
{% endblock %}



{% block list_contents_ %}


<div class="w3-container" id='{{list_tables[0].id_div_list}}'>
<h2>{{list_tables[0].title}}</h2>
<table class="table table-striped">
          <thead>
            <tr>

                <th>편집</th>
                <th>혈압</th>
	             <th>체중</th>
                <th>날짜</th>

            </tr>
        </thead>

		 {% for item in list_tables[0].list_data %}
		<tr>
         <td><button class="w3-btn w3-ripple " data-toggle="modal" data-target="#{{table.modal_id}}"  onclick="edit_content('{{item.cur_uid}}')" >&#9998;{{ item.title }}</button></td>
         <td><p class="cell">{{item.sys_bp}}/{{item.dia_bp}} (맥박:{{item.pulse}})</p></td>
         <td><p class="cell">{{item.weight}}</p></td>
            <td><p class="cell">{{item.updt_date}}</p></td>

		</tr>
		{% endfor %}

</table>

  </div>

</div>

{% endblock %}



