{% extends "layout.html" %}


   {% block jsonfunction %}

    <!--function btn_new_input() {-->
      <!--$('#div_input').show();-->

    <!--}-->
function init() {
{%for table in list_tables%}
 is_{{table.form_id}}_enable = show_input_enable('{{table.input_class}}',false);;
{%endfor%}

};

{%for table in list_tables%}


function {{table.new_input_function}}() {
  console.log('{{table.edit_function}}');
	 is_{{table.form_id}}_enable = show_input_enable('{{table.input_class}}',true);;



	{%for row in table.list_input_row%}
	$('#{{row.id}}').val("");;
	{% endfor %}


};

function {{table.enable_function}}() {
  console.log('{{table.enable_function}}');

    is_{{table.form_id}}_enable = show_input_enable('{{table.input_class}}',! is_{{table.form_id}}_enable);;


};

 function {{table.delete_function}}(cur_uid) {
      console.log('{{table.delete_function}}', cur_uid);

	  if(!confirm('삭제 하시겠습니까?')) return ;



      temp_query('/query/{{name}}/delete', {
        cur_uid: cur_uid,
		option:'{{table.query_option}}'
      }, function(response) {
        console.log("confirm ok");
        location.reload();

      })
};
function {{table.edit_function}}(cur_uid) {
  console.log('{{table.edit_function}}', cur_uid);

  temp_query('/query/{{name}}/get_content', {
    cur_uid: cur_uid,
	option:'{{table.query_option}}'
  }, function(response) {
    console.log("confirm ok");

	{%for row in table.list_input_row%}
	$('#{{row.id}}').val(response.{{row.name}});;
	{% endfor %}


  })


};

{% endfor %}


function page_nav(page_no){
	location.href = '/{{name}}.neo?page='+page_no;
}
    {% endblock %}

{% block hide_button %}


<div class="w3-container">
	{{super()}}
{% for table in list_tables %}
 <button class="btn btn-primary btn-md" onclick="{{table.new_input_function}}()" data-toggle="modal" data-target="#{{table.modal_id}}">&#10004; {{table.new_input_button}} </button>

{% endfor %}

  <br>
</div>


{% endblock%}




{% block list_contents %}
{%for table in list_tables%}

<div class="w3-container" id='{{table.id_div_list}}'>
<h2>{{table.title}}</h2>




<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" onclick="page_nav('-1')" >prev</a></li>
{% for page in table.list_pages %}
    <li class="page-item"><a class="page-link" href="#" onclick="page_nav('{{page}}')">{{page}}</a></li>
{%endfor%}
    <li class="page-item"><a class="page-link" href="#" onclick="page_nav('100000')" >next</a></li>
  </ul>
</nav>



<table  class="table table-striped">
<thead>
  <tr>
    {% for col in table.list_col_info %}
    <th>{{ col.title }}</th>
    {% endfor %}
  </tr>
</thead>


<tbody>
{% for item in table.list_data %}
 <tr>
{% for col in table.list_col_info %}
 <td>{%if col.type == "link"%}
        <a href="{{ item[col.href_key] }}" target="_blank">&#9998; {{item[col.title_key] }}</a>
{%elif col.type == "btn_ext"%}
 		<button class="w3-btn w3-ripple "  test="2332"
		        {%for attr in col.list_attr %}  {{attr.key}}="{{attr.val}}" {%endfor%}
		         {%for attr in col.list_attr_ext %}  {{attr.key}}={{attr.proc(item)}} {%endfor%}
		         >&#9998; {{col.text_ext(item)}}  </button>
{%elif col.type == "btn"%}
	  <button class="w3-btn w3-ripple "  data-toggle="modal" data-target="#{{table.modal_id}}" onclick="{{col.onclick}}('{{item.cur_uid}}')">&#9998; {{col.title}}</button>
{%elif col.type == "btn_no_modal"%}
	  <button class="w3-btn w3-ripple "  onclick="{{col.onclick}}('{{item.cur_uid}}')">&#9998; {{col.title}}</button>
{%elif col.type == "title"%}
	  <p>{{item[col.title_key] }}</p>
{% endif %}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>

</table>



</div>
{%endfor%}
{% endblock %}






{% block form_contents %}

{%for table in list_tables%}


	<div class="modal fade" id="{{table.modal_id}}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
	      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{{table.form_title}}</h3>
          </div>
	     <div class="modal-body">
      <form  class="w3-container" id="{{table.form_id}}">

         <label>내용수정:</label>
        <input type="checkbox" onclick="{{table.enable_function}}()">
        <br/>

        <table class="table table-striped">

	        {%for row in table.list_input_row%}
	        {% if row.type=="hidden"  %}
			<input type="text" id ="{{row.id}}"  class="neo_form" name="{{row.name}}" hidden>
			{%else%}
           {% if row.row_type!="right"  %} <tr>  {% endif %}

            <td> {{row.title}} </td>


	          <td  {% if row.row_type=="all"  %} colspan= '3' {% endif %}>
		        {%if row.type == "input"%}
	            <input class="w3-input w3-border {{table.input_class}}"
	                   type="text" id ="{{row.id}}"
						 name="{{row.name}}" placeholder="{{row.title}}">

				{%elif row.type == "select"%}

		         <select class="w3-input w3-border {{table.input_class}}" name="{{row.name}}"  id ="{{row.id}}" >
			        {% for option in row.list_options %}
		           <option  value="{{option.value}}">"{{option.name}}"</option>
					{%endfor%}
		           </select>
				{%elif row.type == "text"%}
		           <TEXTAREA class="w3-input w3-border {{table.input_class}}" name="{{row.name}}"  id ="{{row.id}}"  ROWS=10 COLS=100 placeholder="{{row.title}}"  tabindex='2' disabled>
			            </TEXTAREA>
		        {%endif%}

	          </td>




          {% if row.row_type!="left"  %}</tr>{% endif %}

	         {% endif %}


	        {% endfor %}

        </table>






      </form>
		 </div>


	      <div class="modal-footer">
            <button class="w3-btn w3-green w3-ripple neo_form" id="{{table.button_id}}" data-dismiss="modal" onclick="confirm_form('/query/{{name}}/update')" >&#10004; CONFRIM</button>
          </div>

	</div> <!-- Modal content-->

    </div><!-- Modal "modal-dialog-->
</div>


{% endfor %}
{% endblock %}