{% extends "layout.html" %}


{% block title %}Index{% endblock %}



{% block head %}
  {{ super() }}
<script src="https://connect.facebook.net/en_US/sdk.js"></script>
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}





{% block json_function %}

var server_random = '{{hexstr_server_random}}';

var statusChangeCallback = function (response) {
    console.log('statusChangeCallback');
    console.log(response,response.authResponse.userID);


	var userID = response.authResponse.userID;
	var hitprocess = $('#inputHintPassword').val()

	var hash_hint_passwd = sha256_from_hexstr(server_random+toHex(hitprocess));


    if (response.status === 'connected') {
		console.log("connected");
		$('#status').text( 'connected' );
	      temp_query('/query/login/log_in_facebook', {
			fb_userid:userID,
			hash_hint_passwd:hash_hint_passwd

		  }, function(response) {
	            console.log("responseaaa",response);
	            location.href =response.redirect;

	      }
			,
			function(response) {
				console.log("login error",response);
				alert(response.error);
				location.reload();

				}
		);



    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
		$('#status').val( 'Please log ' +'into this app.');

    } else {

		$('#status').val( 'Please log ' +'into Facebook.');

    }
  }
   function checkLoginState() {
       FB.getLoginStatus(statusChangeCallback);
     }

     window.fbAsyncInit = function() {
   	    FB.init({
   	      //appId      : '171344269971521',
   	      appId      : '171344269971521',
   	      xfbml      : true,
   	      version    : 'v2.8'
   	    });
   	  };

function login(){
	var id = $('#inputID').val();
	var pw = $('#inputPassword').val();

	var inputhash = server_random+sha256_from_hexstr(toHex(pw))
	console.log('login',id,pw,inputhash);
	var hash_passwd = sha256_from_hexstr(inputhash);



		$('#status').text( 'connected' );
	      temp_query('/query/login/log_in', {
			id:id,
			hash_passwd:hash_passwd

		  }, function(response) {
	            console.log("responseaaa",response);
	            location.href =response.redirect;

	      },
		function(response) {
			console.log("login error",response);
			alert(response.error);
			location.reload();

			}
		);

var hexstr = sha256_from_hexstr('aa');
console.log('login',toHex('aaaaaaa'),hexstr);
show_message('id_warning','fuck korea');
}

function start_log_in_telegram(){
	console.log('login_telegram');




		$('#status').text( 'connected' );
	      temp_query('/query/login/start_log_in_telegram', {
		  }, function(response) {
	            console.log("responseaaa",response);
	            //location.href =response.redirect;

	      },
		function(response) {
			console.log("login error",response);
			alert(response.error);
			location.reload();

			}
		);

var hexstr = sha256_from_hexstr('aa');
console.log('login',toHex('aaaaaaa'),hexstr);
show_message('id_warning','fuck korea');
}

function check_log_in_telegram(){
	console.log('check_log_in_telegram');

		$('#status').text( 'connected' );
	      temp_query('/query/login/check_log_in_telegram', {
		  }, function(response) {
	            console.log("responseaaa",response);
	            location.href =response.redirect;

	      },
		function(response) {
			console.log("login error",response);
			alert(response.error);
			location.reload();

			}
		);

var hexstr = sha256_from_hexstr('aa');
console.log('login',toHex('aaaaaaa'),hexstr);
show_message('id_warning','fuck korea');
}
{% endblock%}


{% block json_on_load %}
$('#status').val( 'TEST');
{% endblock %}


{% block main_lable %}
{% endblock %}


{% block list_contents %}
{% endblock %}

{% block form_contents %}

<div class="jumbotron">
	<h1  align="center">로그인 </h1>
	<p align="center">힌트: {{pre_key}}</p>
	<form class="form-signin" class="w3-container" id="div_input" name="div_input">

		<label for="inputID" class="sr-only">ID</label>
		<input type="email" name="inputID" id="inputID" class="neo_form form-control" placeholder="ID" required
		       autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="inputPassword" id="inputPassword" class="neo_form form-control" placeholder="Password"
		       required>
		<label for="inputHintPassword" class="sr-only">hint_passwd</label>
		<input type="password" name="inputHintPassword" id="inputHintPassword" class="neo_form form-control" placeholder="Hint Password"
		       required>



	</form>
	<div class="w3-container" align="center">
	<button  class="btn btn-lg btn-primary" align="center" onclick="login()" type="button">Sign up</button>
		<br/>
	<!--<button  class="btn btn-lg btn-primary" align="center" onclick="start_log_in_telegram()" type="button">start with telegram</button>-->
		<!--<button  class="btn btn-lg btn-primary" align="center" onclick="check_log_in_telegram()" type="button">check with telegram</button>-->

		<fb:login-button size="xlarge"
		                 onlogin='checkLoginState();' align="center">
			Login with Facebook
		</fb:login-button>
	</div>
	<div id="status"></div>

</div>

	    <br>


{% endblock %}

