{% extends "layout.html" %}





{% block json_function %}
function update(site){
  console.log('update',site);

 temp_query('/query/'+site+'/update_custom', {

      }, function(response) {
        console.log("confirm ok");


      })
}

{% endblock %}
 {% block main_lable_ %}
    <div class="jumbotron">
     <div class="w3-container">
	     <div class="btn-group_">
		      <button class="btn btn-primary" name ="type"  value="search" onclick="update('keyword_order')">&#10004; 업데이트 키워드</button>
		      <button class="btn btn-primary"  name ="type" value ="all" onclick="update('webtoon')" >&#10004; 업데이트 웹툰</button>
			</div>
	      </div>
     </div>

    {% endblock%}

{% block list_contents %}
{% endblock %}


{% block form_contents %}
{% endblock %}

{% block hide_button %}
{% endblock%}
