{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
 {% block jsonfunction %}
{{super()}}
function edit_site_content(id){
console.log("edit_site_content");

}
function edit_header_content(id){
console.log("edit_header_content");

}

function btn_new_input(){
	show_input_enable(true);
    $('#div_input').show();
	$('#input_id').val("");
	$('#input_title').val("");

	$('#input_date').val("");
	$('#input_prt_uid').val("prt_1");
	$('#input_dates').val("");
	$('#input_cur_uid').val("");


	$('#sel_input_portal').text("네이년");



}
function edit_content(id){
	console.log('edit_content',id);

    temp_query('/query/{{name}}/get_content',{cur_uid:id},function(response){
        console.log("confirm ok");
       $('#input_id').val(response.id);
		$('#input_title').val(response.title);

		$('#input_date').val(response.date);
		$('#input_prt_uid').val(response.prt_uid);
		$('#input_dates').val(response.dates);
		$('#input_cur_uid').val(response.wtn_uid);


		$('#sel_input_portal').text(response.portal_name);
		console.log("prt_uid",response.prt_uid);

    })


}



 {% endblock %}
{% block jsonsrc %}
{{super()}}
 $('.cls_site').click(function(event) {
   console.log("cls_site",event.target.id);
   var id = event.target.id;
   console.log(''); });
   $('.cls_header').click(function(event) {
     console.log("cls_header",event.target.id);
     var id = event.target.id; console.log('');
   });

   {% endblock %}

 {% block main_lable %}
    <div class="jumbotron">
      <div class="container">
        <br>

	        <form class="w3-container" id="search" name="search">
		         <h4>검색</h4>
		      <input class="w3-input w3-border" type="text" id="keyword" name="keyword"  placeholder="KEYWORD">
		      <button class="btn btn-info btn-lg" name ="type"  value="search" >&#10004; 검색</button>
		      <button class="btn btn-info btn-lg"  name ="type" value ="all" >&#10004; 전체리스트</button>
		    </form>

      </div>
    </div>

    {% endblock%}
   {% block tobody %}
<tbody>
  {% for contents in list_data %}
  <tr>
    <th>
      <!-- <button class="w3-btn w3-ripple" ng-click="editContents(key)">&#9998; {{contents.site }}</button> -->
      <!--<a href="#"  data-toggle="modal" data-target="#id_modal_input"  class="cls_site">&#9998; {{contents.site }}</a>-->
      <button class="w3-btn w3-ripple cls_site" data-toggle="modal" data-target="#id_modal_input_site" onclick="edit_content('{{contents.pwd_uid}}')">&#9998; {{contents.site }}</button>
    </th>
    <!-- <th>{{ contents.title }}</th> -->
    <th>
      <!--<a href="#" class="cls_header" >&#9998; {{contents.title }}</a>-->
      <button class="w3-btn w3-ripple cls_header" data-toggle="modal" data-target="#id_modal_input_header" onclick="edit_header_content('{{contents.phd_id}}')">&#9998; {{contents.title }}</button>
    </th>

    <th>{{ contents.ptail }}</th>


  </tr>
  {% endfor %}


</tbody>
{% endblock %} {% block form_contents %}
<div class="w3-container">
  <button class="btn btn-info btn-lg" id="btn_new_input">&#10004;  새 글쓰기</button>
  <br>
</div>
<div class="jumbotron" id="div_input_">


  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#id_modal_input_site">Open Modal</button>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#id_modal_input_header"  onclick="edit_header_content('')">Open Modal</button>
  {% block form %}


  <!-- Modal -->
  <div class="modal fade" id="id_modal_input_site" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <form class="w3-container" id="form_site" name="form_input">

          <h3>사이트 PWD</h3>

         <label>내용수정:
        <input type="checkbox" id="id_check_box">
      </label>
	        <br/>

		<input name = "cur_uid"  id="input_cur_uid" type="text" hidden>


          <table class="table table-striped">

            <tr>
              <td> site </td>
              <td ><input class="w3-input w3-border" type="text" name="site"  placeholder="site"></td>

              <td> header </td>
              <td ><select class="w3-input w3-border" name="header"  ></select></td>
            </tr>
            <tr>
              <td> ptail </td>
              <td><input class="w3-input w3-border" type="text" name="ptail"  placeholder="ptail"></td>
              <td> id </td>
              <td><input class="w3-input w3-border" type="text" name="id"  placeholder="id"></td>
            </tr>
            <tr>
              <td> etc </td>
              <td colspan='3'>
                <TEXTAREA class="w3-input w3-border" id=inputSolution name="etc"  NAME='cmd' ROWS=10 COLS=100 placeholder="etc" class="neo_form" tabindex='2'></TEXTAREA>
              </td>
            </tr>


          </table>
          <button class="w3-btn w3-green w3-ripple" ng-click="update_header()">&#10004; UPDATE</button>
        </form>
      </div>

    </div>
  </div>

  <div class="modal fade" id="id_modal_input_header" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <form ng-show="showHeaderForm" class="w3-container">
          <h3>헤더</h3>
          <label>내용수정: </label>
         <input type="checkbox" name="check_save_header" ng-click="editable()">
         <br/>

          <table class="table table-striped">

            <tr>
              <td> title </td>
              <td><input class="w3-input w3-border" type="text" name="title" ng-disabled="!check_save_header" placeholder="title"></td>
              <td> special_letter </td>
              <td><input class="w3-input w3-border" type="text" name="special_letter" ng-disabled="!check_save_header" placeholder="special_letter"></td>
            </tr>
            <tr>
              <td> hint </td>
              <td colspan='3'><input class="w3-input w3-border" type="text" name="hint" ng-disabled="!check_save_header" placeholder="hint"></td>
            </tr>

          </table>

          <button class="w3-btn w3-green w3-ripple" ng-click="update_header()">&#10004; UPDATE</button>

          <!-- <label>ptail:   <input class="login_short"  type="text" name="ptail" ng-disabled="true" placeholder="ptail"></label><br/>
     <label>id:   <input class="login_short"  type="text" name="id" ng-disabled="true" placeholder="id"></label><br/>
     <label>etc:   <input class="login_short"  type="text" name="etc" ng-disabled="true" placeholder="etc"></label><br/> -->



        </form>



      </div>

    </div>
  </div>

  <!--<form class="w3-container" id="form_site" name="form_input">-->

  <!--<h3>사이트 PWD</h3>-->

  <!--<label>내용수정:-->
  <!--<input type="checkbox" name="check_save" ng-click="editable()">-->
  <!--</label><br/>-->



  <!--<table class="table table-striped">-->
  <!--<tr><td width=100> pwd_uid </td><td><input class="login_short"  type="text" name="pwd_uid" ng-disabled="true" placeholder="pwd_uid"></td></tr>-->
  <!--<tr><td> site </td><td><input  class="w3-input w3-border" type="text" name="site"  placeholder="site"></td></tr>-->
  <!--<tr><td> header </td><td><select class="w3-input w3-border" name="header"   ng-options="value.title for value in list_header_contents"></select></td></tr>-->
  <!--<tr><td> ptail </td><td><input  class="w3-input w3-border" type="text" name="ptail"  placeholder="ptail"></td></tr>-->
  <!--<tr><td> id </td><td><input   class="w3-input w3-border" type="text" name="id"  placeholder="id"></td></tr>-->
  <!--<tr><td> etc </td><td><TEXTAREA class="w3-input w3-border" id=inputSolution name="etc"  NAME='cmd' ROWS=10 COLS=100 placeholder="etc" class="neo_form" tabindex='2'></TEXTAREA></td></tr>-->


  <!--</table>-->
  <!--<button class="w3-btn w3-green w3-ripple" ng-click="update_header()" >&#10004; UPDATE</button>-->
  <!--</form>-->

  {% endblock %} {% endblock %}
</div>
