{% extends "layout.html" %}

{% block head %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>

{% endblock%}


{% block json_on_load %}



var table =  $('#example').DataTable( {
        "ajax": "/page_test_2",

        "columns": [

            { "data": "site" },
            { "data": "title", "defaultContent": "<button>Edit</button>"},
            { "data": "ptail" },

	        {

		      "defaultContent": "<button>Edit</button>"
		    },
			{ "data":"cur_uid" ,"visible": false },

		]

    } );
  $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );

    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );


{% endblock%}


{% block list_contents %}

<input onClick="this.setSelectionRange(0, this.value.length)" value="Sample Text" />
<input onClick="this.select();" value="Sample Text" />

<button id="button">Delete selected row</button>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>

                <th>site</th>
                <th>title</th>
                <th>ptail</th>
	             <th>삭제</th>
				<th>cur_uid</th>

            </tr>
        </thead>
        <tfoot>
            <tr>

                   <th>site</th>
                <th>title</th>
                <th>ptail</th>
	              <th>삭제</th>
				<th>cur_uid</th>

            </tr>
        </tfoot>
    </table>
{% endblock %}

